* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clearViolet: #d4bee8;
  --blueviolet: #3c0f67;
  --bluevioletBorder: #5f134d;
  --white: #fff;
  --blue: #0d0a77;
  --red: #ff0000;
  --black_transparent: #040441d4;
  --black: #000;
  --ligthblue: #aeeaf9;
  --ligthblueFort: #4c95ed;
  --ligthRed: #f3b2b2;
}
table {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--blueviolet);
  border-radius: 15px;
}

td {
  font-size: 18px;
}

.header{
  padding-right: 45px;
  width: 100%;

}

.semanas {
  border-bottom-left-radius: 10px;
  position: relative;
  padding-bottom: 0px;
  width: 40%;
  height: 15px;
  background-color: #4c95ed;
}
.tituloTabla {
  position: relative;
  width: 98%;
  top: 3px;
  right: -320px;
  font-size: large;
  color: var(--white);
  background-color: var(--ligthblueFort);
  border-radius: 15px;
}

.errorDato {
  color: var(--red);
  font-size: 30px;
  margin-left: 10px;
  width: 45px;
  border: 2px solid var(--red);
  border-radius: 50%;
  position: absolute;
  visibility: hidden;
}

.falla {
  font-size: 15px;
  color: var(--red);
}

.okDato {
  color: var(--white);
  font-size: 30px;
  margin-left: 10px;
  width: 45px;
  border: 2px solid var(--ligthblueFort);
  border-radius: 50%;
  position: absolute;
  visibility: visible;
}

.titulo {
  color: var(--white);
}

.conteiner_tablas {
  position: relative;
  text-align: center;
}
.titulo_tabla {
  position: relative;
  display: row;
  font-size: x-large;
  justify-content: space-around;
}
.tablas {
  position: relative;
  padding: 5px;
  display: row;
  text-align: center;
  left: -15px;
  top: 15px;
  justify-content: space-around;
  border: #000 solid 1px;
}

.active_day {
  position: relative;
  width: 100px;
  left: 25px;
}
.active_tabla {
  position: relative;
  width: 100px;
  left: 35px;
  top: 15px;
}
.horas2 {
  background-color: var(--ligthblueFort);
  color: var(--black);
}


.conteiner {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  top: 2%;
  position: absolute;
  text-align: center;
  border: solid 1px var(--blue);
  width: 30%;
  height: 480px;
  background-color: var(--blueviolet);
  left: 2%;
}
.conteiner2 {
  text-align: center;
  top: 2px;
  right: 2%;
  position: absolute;
  text-align: center;
  border: solid 1px var(--blue);
  width: 65%;
  height: auto;
  background-color: var(--blueviolet);
}
.valores {
  color: var(--white);
  position: absolute;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  top: 10px;
  left: 8px;
  width: 95%;
  height: 95%;
  font-size: 20px;
  border: solid 5px var(--white);
}

.valores2 {
  color: var(--white);
  /* border-radius: 15px; */
  position: absolute;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  top: 10px;
  left: 20px;
  width: 95%;
  height: 95%;
  font-size: 20px;
  border: solid 5px var(--white);
}

.input {
  margin-top: 8px;
  margin-bottom: 15px;
}

.input::placeholder {
  text-align: center;
}

.Finalizar {
  position: absolute;
  text-align: center;
  bottom: 10px;
  width: 33%;
  right: 40px;
  border: none;
  border-radius: 15px;
  color: var(--white);
  background-color: var(--ligthblueFort);
}
.Dia {
  position: absolute;
  text-align: center;
  bottom: 10px;
  left: 45px;
  width: 33%;
  border: none;
  border-radius: 15px;
  color: var(--white);
  background-color: var(--ligthblueFort);
}

form > input[type="button"]:hover {
  background-color: var(--ligthblueFort);
  color: var(--white);
  border: none;
  font-size: 25px;
}

/* COMIENZO MEDIA QUERY */

@media screen and (max-width: 980px) {
  .errorDatoMedia {
    color: var(--red);
    font-size: 15px;
    left: -2px;
    width: 35px;
    border: 2px solid var(--red);
    border-radius: 50%;
    position: absolute;
    visibility: hidden;
  }

  .header{
    padding-right: 25px;
    width: 100%;
    
  }
  .okDatoMedia {
    color: var(--white);
    right: 5px;
    font-size: 15px;
    left: -2px;
    width: 35px;
    border: 2px solid var(--ligthblueFort);
    border-radius: 50%;
    position: absolute;
    visibility: visible;
  }

  .errorDato {
    color: var(--red);
    font-size: 15px;
    margin-left: 5px;
    width: 35px;
    border: 2px solid var(--red);
    border-radius: 50%;
    position: absolute;
    visibility: hidden;
  }
  .okDato {
    color: var(--white);
    font-size: 15px;
    margin-left: 5px;
    width: 35px;
    border: 2px solid var(--ligthblueFort);
    border-radius: 50%;
    position: absolute;
    visibility: visible;
  }

  .tituloTabla {
    position: relative;
    width: 100%;
    top: 3px;
    right: -220px;
    font-size: 12px;
    color: var(--white);
    border-radius: 15px;
    background-color: var(--ligthblueFort);
  }

  .conteiner2 .valores2 > h2 {
    font-size: 15px;
  }
  .conteiner2 .valores2 > h3 {
    font-size: 15px;
  }

  .semanas {
    position: relative;
    padding-bottom: 0px;
    width: 40%;
    height: 15px;
    top: -2px;
    background-color: #4c95ed;
  }
  table {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 0%;
    background-color: var(--blueviolet);
  }

  tr {
    left: 0px;
    font-size: 18px;
    top: 10px;
    margin-bottom: 0px;
  }

  th {
    display: row;
    justify-content: space-around;
    font-size: 15px;
    width: 95px;
    padding-right: 15px;
  }

  td {
    font-size: 12px;
    top: 10px;
    margin-bottom: 0px;
    border-left: var(--ligthblueFort) solid 2px;
  }

  .active_day {
    position: relative;
    width: 20px;
    left: 5px;
  }
  .active_tabla {
    position: relative;
    width: 20px;
    left: 5px;
    top: 15px;
  }
  /* .horas11 {
    background-color: var(--ligthblueFort);
    color: var(--black);
  } */

  .conteiner {
    border-radius: 15px;
    top: 2px;
    /* position: absolute; */
    text-align: center;
    border: solid 1px var(--blue);
    width: 650px;
    height: 300px;
    background-color: var(--blueviolet);
    left: 0px;
  }
  .conteiner2 {
    text-align: center;
    border-radius: 15px;
    top: 100%;
    left: 0px;
    position: absolute;
    text-align: center;
    border: solid 1px var(--blue);
    width: 650px;
    height: 100%;
    background-color: var(--blueviolet);
  }
  .valores {
    color: var(--white);
    border-radius: 15px;
    position: absolute;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    top: 10px;
    left: 0px;
    width: 100%;
    height: 90%;
    font-size: 20px;
    border: solid 3px var(--white);
  }
  .valores2 {
    color: var(--white);
    border-radius: 15px;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 1px;
    left: 0px;
    width: 100%;
    height: 100%;
    font-size: 20px;
    border: solid 1px var(--white);
  }

  .input {
    margin-top: 8px;
    margin-bottom: 15px;
  }

  .input::placeholder {
    text-align: center;
  }

  .Finalizar {
    position: absolute;
    text-align: center;
    bottom: 30px;
    width: 33%;
    right: 40px;
    border: none;
    border-radius: 15px;
    color: var(--white);
    background-color: var(--ligthblueFort);
  }
  .Dia {
    position: absolute;
    text-align: center;
    bottom: 30px;
    left: 5px;
    width: 33%;
    border: none;
    border-radius: 15px;
    color: var(--white);
    background-color: var(--ligthblueFort);
  }

  form > input[type="button"]:hover {
    background-color: var(--ligthblueFort);
    color: var(--white);
    border: none;
    font-size: 25px;
  }
} ;
